body {
  font-family: "Pathway Extreme", sans-serif;
  background-color: #ebf2fa;
}

footer {
  background-color: #a2d6f9;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #a3bac3;
}

.footer-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.footer-icon {
  font-size: 2rem;
  color: #636a6d;
}
